[opennebula]
name=OpenNebula Community Edition
baseurl=https://downloads.opennebula.io/repo/{{ opennebula_version }}/{{ ansible_distribution }}/{{ ansible_distribution_major_version }}/x86_64/
enabled=1
gpgkey=https://downloads.opennebula.io/repo/repo.key
gpgcheck=1
repo_gpgcheck=1
